<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
<script>

var html_body = '';
var url = document.location.toString();
var query_split = url.split('/');
var hotelname = query_split[3]

$.ajax({
    url:"http://127.0.0.1:8000/v1/roomlist/" + hotelname,
    type:"GET",
    success:function(res){
        if(res.code==200){
        var hotelname= res.hotelname
        html_body += "<div id='hotelname'>酒店名:"+ res.hotelname+"</div>";
        for(i=0;i<res.data.length;i++){

            //!!!detailURL待写 跳转房间详情

            html_body += "<a href='"+ res.data[i].detailurl+"'>";
            html_body += "<div id='roomnumber'>房间号:"+res.data[i].roomnumber +"</div>";
            html_body += "<div><img src='"+ res.data[i].roomimageinside01+ "'></div>";
            html_body += "<div id='price'>价格:"+res.data[i].roomprice +"</div>";
            html_body +="</a>";
        }
        $('body').html(html_body);


        }else{
        alert(res.data);
    }
    }

})

</script>
</head>
<body>
</body>
</html>