<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
</head>
<script src="/static/js/jquery.min.js"></script>
<body>
    <div><input type="text" id="username">请输入用户名</div>
    <div><input type="text" id="password">请输入密码</div>
    <div><button id="btn">登录</button></div>
    <div><input type="text" id="phone">请输入电话</div>
    <div><button id="smsbtn" onclick="sendSMS()">发送</button></div>
    <div><input type="text" id="code">请输入验证码</div>
    <div><button id="smslogin">验证码登录</button></div>
    <script>
        $(function(){
            $("#btn").click(function(){
                $.ajax({
                    url:"http://127.0.0.1:8000/v1/users/login",
                    type:"POST",
                    dataType:"json",
			        contentType:'application/json',
                    data:JSON.stringify({
                        username:$("#username").val(),
                        password:$("#password").val(),
                        sms_num:$("#code").val(),
                        phone:$("#phone").val(),

                    }),
                    success:function(res){
                        if(res.code == 200){
					        alert('登录成功！');
					// 将后端返回的数据保存到浏览器的本地存储
					window.localStorage.setItem('hotel_token',res.token);
					window.localStorage.setItem('hotel_user',res.username);
					window.location.href="http://127.0.0.1:5000/index";
                    }else{
					    alert(res.data);
				    }
                    }
                })
            })
        })

        $(function(){
            $("#smslogin").click(function(){
                $.ajax({
                    url:"http://127.0.0.1:8000/v1/users/login",
                    type:"POST",
                    dataType:"json",
			        contentType:'application/json',
                    data:JSON.stringify({
                        username:$("#username").val(),
                        password:$("#password").val(),
                        sms_num:$("#code").val(),
                        phone:$("#phone").val(),
                    }),
                    success:function(res){
                        if(res.code == 200){
					        alert('登录成功！');
					// 将后端返回的数据保存到浏览器的本地存储
					window.localStorage.setItem('hotel_token',res.token);
					window.localStorage.setItem('hotel_user',res.username);
					window.location.href="http://127.0.0.1:5000/index";
                    }else{
					    alert(res.data);
				    }
                    }
                })
            })
        })



        function sendSMS(){
            var phone =$("#phone").val();
            var post_data = {"phone":phone};
            console.log(post_data)
            $.ajax({
                url:"http://127.0.0.1:8000/v1/users/sms",
                type:"POST",
                data:JSON.stringify(post_data),
                contentType:"application/json",
                dataType:"json",
                success:function(res){
                    if(res.code == 200){
                        alert("短信已发送");
                    }else{
                        alert(res.error);
                    }
                }


            })

        }

    </script>
</body>
</html>